
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    max-width:  100vw;;
    text-decoration: none;

    text-decoration: inherit;
    font-style:inherit;
    
}


  .headerfoto {
    background: url(../img/achtergrond.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


  .headerfoto .headerspan h1, .headerfoto .headerspan h2{
text-align: center;

  }

  .headerfoto .headerspan h1 {
    padding-top: 120%;
  }

 h1 {
      font-weight: 900;
      font-size: 5vw;
text-align: center;
padding-top: 5%;
  }

 h2{
      font-weight: 700;
      font-size: 3vw;

  }


  .logo{
    position:fixed;
    left: 50%;
    margin-left: -30px !important;  /* 50% of your logo width */
    display: block;
    height:15%;
    z-index: 100;
  }

  .logo2{

    width: 15%;
  
   
  }


  footer{

    background-color: #181818;
    margin-top: 20%;
  }
  .donker{
    position:fixed;
    z-index: 20;
    max-width: 100vw;
    height: 25vw;
  }


  h3{
    font-weight: 600;
    font-size: 3vw;
    
    text-align: center;
    padding-top: 2%;
    margin: 0 auto;
  }

  h4{
      text-align: left;
      font-size: 2vw;
      padding-top: 3%;
  }

  p{
      text-align: left;
      
  }


  section{
      background-color: #181818;
      height: 53rem;

  
  }

  section h1{
      padding-bottom: 10%;
  }

.laatstetekst{
    padding-bottom: 10%;
}
 
  .slider_wrap{
 
        height: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        scrollbar-width: none;
        width: 100vw;
    
    
  }

  #gegevens h3{
      text-align: left;
  }

  .row {
      margin-top: 6vh;
  }
  .slider  {
    margin-right: 2vw;
   width: 100vw;
   height: 100vh;
   object-fit:cover;
  }

  .slider img{
    width: auto; /* width of container */
    height: 100vh; /* height of container */
    object-fit: cover;
  }

  form{
    margin-top: 20%;
    width: 100vw;
}
    
.contact {
    margin-top: 20%;
}


.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #181818;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    overflow: hidden;
animation-delay: 5.0s;
  }

  .loader-wrapper img{
      width: 20%;
  }
  

  @media screen and (min-width: 600px) {
    .slider  {
        margin-right: 2vw;
       object-fit:cover;
     
      }
    
      .slider img{
        width: 600px; /* width of container */
        height: 600px; /* height of container */
        object-fit: cover;
      }
      .contact {
        margin-top: 0;
    }
    form{
        margin-top: 0;
    }

    .headerfoto .headerspan h1 {
        padding-top: 40%;
      }
    
    


}
    





 